* {
    margin: 0;
    padding: 0;
}

#taskComp {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#pageTitle {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 60px;
    color: white;
    cursor: pointer;
}

#taskDiv {
    display: inline-block;
    width: 60%;
    margin-top: 15vh;
    position: relative;
}

.task {
    display: flex;
    margin-top: 20px;
}

.taskText {
    width: 90%;
}

.taskTitle {
    font-size: 20px;
    color: white;
}

.taskLine {
    border: 1px solid white;
}

#formBtn {
    margin-top: 20px;
    width: 50px;
    position: absolute;
    left:0;
    cursor: pointer;
}

.taskDesc {
    color: white;
}

.updateBox {
    width: 100%;
    text-align: left;
    border-radius: 5px;
    font-size: 14px;
}

.taskcheckLabel input {
    opacity: 0%;
}

.taskcheckLabel {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.taskcheckMark {
    position: absolute;
    right: -20px;
    height: 40px;
    width: 40px;
    background-color: #eee;
    border: 2px solid rgb(255, 230, 94);
    border-radius: 5px;
}

.taskcheckMark:after {
    content: "";
    position: absolute;
    display: none;
}

/* .taskcheckLabel input:checked ~ .checkMark {
    background-color: #002442;
  } */

.taskcheckLabel input:checked ~ .checkMark:after {
    display: block;
}

.taskcheckLabel .checkMark:after {
    right: -10px;
    top: -30px;
    width: 15px;
    height: 50px;
    border: solid rgb(100, 99, 99);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}